
body{
    background-color: rgb(122, 124, 206);
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
}
.container{
    width: 100%;
    background-color: rgb(197, 179, 185);
    margin-top: 30px;
}

.navbar-brand{
    margin-left: 20px;
    background-color: rgb(105, 105, 189);
    padding: 10px;
 }

.topnav-right{
    margin-right: 80px;
}

.row{
    padding: 20px;
}
.btn {
    float: right;
    margin: 10px;
    background-color: rgb(105, 105, 189);

}
.link {
    text-size-adjust: 16px;
}