#Kendra{
    width: 200px;
    padding-top: 10px;
    margin-left: 10px;
    padding-bottom: 10px;
    padding-right: 25px;
}
body{
    background-color: rgb(122, 124, 206);
}
.container{
    width: 800px;
    background-color: rgb(197, 179, 185);
    margin: 30px;
    padding-top: 20px;
}
.navbar-brand{
    margin-left: 20px;
    background-color: rgb(105, 105, 189);
    padding: 10px;
}

.topnav-right{
    margin-right: 80px;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;

}
#Introduction{
    width: 760px;
}
.info{
    width: 750px;
    margin-left: 20px;
}

